@model DTO.Model.Ferry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>Er du sikker på, at du vil slette færgen med ID @Model.FerryID og navn @Model.Name?</p>

@using (Html.BeginForm("DeleteConfirmed", "Ferry", new { id = Model.FerryID }, FormMethod.Post))
{
    <input type="submit" value="Slet" class="btn btn-danger" />
    @Html.ActionLink("Annuller", "Details", new { id = Model.FerryID }, new { @class = "btn btn-default" })
}